* {
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100%;

    z-index: 1;

    overflow: hidden;
    white-space: nowrap;

    background-color: black;
}

canvas {
    position: absolute;
    z-index: 2;
}

h1 {
    display: block;

    font-size: 64px;
    color: white;

    z-index: 3;
}

p {
    padding: 0;
    margin: 0;
}

.form__paragraph__top {
    margin-bottom: 15px;
}

.form__paragraph__middle {
    margin-top: 30px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;

    background-color: rgba(25, 25, 100, .5);
    color: white;

    padding: 20px 30px;
    font-size: 1.5rem;

    border-radius: 20px;
    border: none;
    outline: none;

    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 3;
}

label {
    font-size: 1.2rem;
}

.input__range {
    width: 100%;
}

.label__long {
    font-size: .58em;

    margin-top: -20px;
}

.label__number {
    font-weight: 600;
    font-size: 1.2em;
}

.circle__counter__root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4em;
    height: 4em;

    border-radius: 50%;
    background-color: white;
    color: black;

    position: fixed;
    top: 2%;
    left: 2%;
}

.circle__counter__number {
    font-size: 2em;
}